{% extends '__base__.html' %}
{% block title %}digwebs{% endblock %}

{% block beforehead %}{% endblock %}

{% block content %}
<div id="main" class='uk-container uk-container-small uk-padding'>
    <div class="uk-child-width-1-1 uk-grid-small uk-grid-match" uk-grid>
	    {% for a in template_blogs %}
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">{{{{a.title}}}}</h3>
                <p>{{{{a.description}}}}</p>
                <a href="{{{{a.detail_link}}}}" class="uk-text-uppercase">Keep Reading</a>
            </div>
        </div>
		{% endfor %}
    </div>
</div>
{% endblock %}