{% extends '__base__.html' %}
{% block title %}digwebs{% endblock %}

{% block beforehead %}{% endblock %}

{% block content %}
<div id="main" class='uk-container uk-container-small'>
    <div class="uk-flex uk-flex-center uk-position-center">
        <h1><a href="https://github.com/digolds/digwebs" target="_blank">digwebs</a> - A Minimal Web Framework!</h1>
        <div class="uk-flex uk-flex-center">
            <ul class="uk-iconnav">
                <li><a href="/views/blogs" uk-icon="icon: copy" title="Blog"></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}